.santa {
    @include size(40%);
    background: rgb(246, 230, 180);
    background: radial-gradient(circle, rgba(246, 230, 180, 1) 40%, rgba(234, 171, 93, 1) 100%);
    margin: 30% auto;
    border-radius: 30% 30% 90% 90%;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        .eyes::after {
            height: 5%;
            margin-top: 5%;
        }

        .santa__mustache {
            animation: wiggle .6s 4;
        }


        .hat__main::after {
            animation: pompon .2s .2s 10;
        }
    }

    &__beard {
        @include size(110%, 80%);
        @include pos($t:50%, $l: -5%);
        background: rgb(255, 255, 255);
        background: radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
        border-radius: 30% 30% 110% 110%;
    }


    &__mustache {
        @include size(70%, 30%);
        @include pos($t: -10%, $l: 15%);


        &::before,
        &::after {
            @include size(50%, 100%);
            @include pos($t:0);
            content: '';
        }

        &::before {
            left: 0;
            border-radius: 200% 40% 100%;
            background-color: red;
            background: #e4e4e4;
            background: radial-gradient(at top left, #e4e4e4 0%, #ffffff 100%);
            box-shadow: -2px 6px 8px #e4e4e4;

        }

        &::after {
            right: 0;
            border-radius: 40% 200% 40% 100%;
            background: #e4e4e4;
            background: radial-gradient(at top right, #e4e4e4 0%, #ffffff 100%);
            box-shadow: 2px 6px 8px #e4e4e4;
        }
    }
}

.eyes {

    &::before,
    &::after {
        @include size(15%);
        @include pos($t: 20%);
        content: '';
        background-color: #000;
        border-radius: 100%;
        transition: all .3s;
    }

    &::before {
        left: 20%;
    }

    &::after {
        right: 20%;
    }
}

.hat {
    @include size(100%, 50%);
    @include pos($t: -45%);

    &__main {
        @include size(100%);
        background-color: #de0000;
        border-radius: 100% 100% 0 0;
        transform: skew(0, -8deg);
        position: relative;


        &::before {
            @include size(0);
            @include pos($t: 50%, $r: -17%);
            content: '';
            border-width: 30px 0 0 20px;
            border-color: transparent transparent transparent #de0000;
            border-style: solid;
            transform: skew(0, 30deg);
        }

        &::after {
            @include size(25%, 48%);
            @include pos($b: -45%, $r: -30%);
            content: '';
            background: rgb(255, 255, 255);
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
            border-radius: 50%;
            transform: skew(0, 10deg);


        }
    }

    &__bottom {
        @include size(110%, 35%);
        @include pos($b: -15%, $l: -5%);
        background: rgb(255, 255, 255);
        background: radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
        border-radius: 50px;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0turn);
    }

    25% {
        transform: rotate(.02turn) scale(1.1);
    }

    50% {
        transform: rotate(-0.02turn) scale(1.1);
    }

    75% {
        transform: rotate(.02turn) scale(1.1);
    }

    100% {
        transform: rotate(0turn) scale(1);
    }
}


@keyframes pompon {
    25% {
        right: -26%;
        bottom: -49%;

    }

    75% {
        right: -32%;
        bottom: -41%;
    }
}